{
  "folders": [
    {
      "path": ".",
      "files": [
        "README.md"
      ],
      "name": "{{app_name}}"
    },
    {
      "path": "docs",
      "name": "docs"
    },
    {
      "path": "backend",
      "name": "Backend"
    },
    {
      "path": "frontend",
      "name": "Frontend"
    },
    {
      "path": "docker",
      "name": "docker"
    }
  ],
  "settings": {
    "explorer.excludeGitIgnore": true,
    "search.exclude": {
      "**/.fvm": true,
      "**/.idea": true
    },
    "files.watcherExclude": {
      "**/.fvm": true,
      "**/.idea": true
    },
    "files.exclude": {
      "**/.git": true,
      "**/.svn": true,
      "**/.hg": true,
      "**/CVS": true,
      "**/.DS_Store": true,
      "**/Thumbs.db": true,
      ".obsidian": true
    },
    "workbench.editorAssociations": {
      "*.md": "vscode.markdown.preview.editor"
    },
    "jest.disabledWorkspaceFolders": [
      "Frontend",
      "Backend",
      "docs",
      "build"
    ],
    "sync-rsync.delete": true,
    "sync-rsync.sites": [
    ],
    "sync-rsync.exclude": [
      ".git",
      ".vscode",
      ".venv",
      ".mypy_cache",
      ".pytest_cache",
      ".pdm-python"
    ]
  },
  "extensions": {
    "recommendations": [
      "ms-python.python",
      "ms-python.debugpy",
      "ms-python.vscode-pylance",
      "ms-python.mypy-type-checker",
      "editorconfig.editorconfig",
      "ms-azuretools.vscode-docker",
      "marlom.keep-context",
      "njpwerner.autodocstring",
      "charliermarsh.ruff",
      "timonwong.shellcheck",
      "marquesmps.dockerfile-validator",
      "piotrpalarz.vscode-gitignore-generator",
      "likec4.likec4-vscode",
      "eamodio.gitlens",
      "vscode-ext.sync-rsync",
      "svelte.svelte-vscode",
      "dbaeumer.vscode-eslint",
      "esbenp.prettier-vscode",
      "orta.vscode-jest",
      "firsttris.vscode-jest-runner"
    ]
  }
}
