# {{app_name}} Frontend

The frontend is built with SvelteKit.

## Tech Stack

- **Framework**: [SvelteKit](https://svelte.dev/docs/kit/introduction)
- **Language**: [TypeScript](https://www.typescriptlang.org/)
- **Styling**: [Tailwind CSS](https://tailwindcss.com/)
- **State Management**: [Svelte Context API](https://svelte.dev/docs/stores)
- **Routing**: [SvelteKit Routing](https://svelte.dev/docs/kit/routing)

### SvelteKit

```sh
npx sv create my-app
```

## Frontend Environment (Svelte)

- **Environment Manager**: [nvm](https://github.com/nvm-sh/nvm)
- **Linter**: `eslint` (with Svelte plugin)
- **Test Framework**: `vitest`

**Steps**:
1. Install **nvm**:
   ```bash
   brew install nvm
   mkdir ~/.nvm
   ```
   - Add following line to your profile. (.profile or .zshrc or .zprofile)
   ```bash
   # NVM
   export NVM_DIR=~/.nvm
   source $(brew --prefix nvm)/nvm.sh
   ```
   - Close and open your terminal again. Or Choose one from the following command once for reload your profile. (.profile or .zshrc or .zprofile)
   ```bash
   source ~/.zshrc
   # or
   source ~/.profile
   # or
   source ~/.zprofile
   ```

2. Install **Node.js** using `nvm`:
   ```bash
   nvm install --lts
   nvm use --lts
   ```

3. Install **yarn** via Homebrew:
   ```bash
   brew install yarn
   ```

4. Install dependencies:
   ```bash
   cd frontend
   yarn install
   yarn playwright install
   ```

### **Notes**
- Note: the frontend was created using the following command:
  ```bash
  npx sv create frontend
  cd frontend

  yarn add -D flowbite-svelte flowbite
  yarn add -D flowbite-svelte-icons

  yarn install
  yarn dev

  # add linting
  npm install eslint eslint-plugin-svelte eslint-config-prettier --save-dev
  npx eslint --init

  # add testing
  npm install vitest @testing-library/svelte --save-dev
  ```

**VSCode Extensions for Frontend**:
- **Svelte for VSCode**: Adds support for `.svelte` files.
- **ESLint**: Integrates linting.
- **Prettier**: Formats code automatically.


## Developing

Once you've installed dependencies with `npm install` (or `pnpm install` or `yarn`), start a development server:

```bash
npm run dev

# or start the server and open the app in a new browser tab
npm run dev -- --open
```

## Building

To create a production version of the app:

```bash
npm run build
```

You can preview the production build with `npm run preview`.

> To deploy the app, you may need to install an [adapter](https://svelte.dev/docs/kit/adapters) for your target environment.


### **Running the Frontend**
   ```bash
   cd frontend
   yarn dev --open
   ```

### **Running Tests**
   ```bash
   cd frontend
   npx vitest
   # or
   npx vitest --watch
   # or
   npm run test
   # or
   npm run test -- --watch
   ```

### **Check Coverage**
   ```bash
   cd frontend
   npx vitest --coverage
   ```
